<!DOCTYPE html>
<html>
  <body>
      <form action="/square/results">
        <label for="prompt">Enter a number</label><br>
        <input type="text" id="number" name="number" placeholder="What number do you want to pick"><br>
        <button>Calculate square</button>
      </form>
  </body>
</html>
