<!DOCTYPE html>
<html>
  <body>
      <form action="/payment/results">
        <label for="APR">APR</label>
        <input type="text" id="apr_rate" name="apr_rate" placeholder="E.g. 5.42"><br>

        <label for="Years">Number of years</label>
        <input type="text" id="year" name="year" placeholder="How many years to repay?"><br>

        <label for="Principal">Principal</label>
        <input type="text" id="start" name="start" placeholder="How much principal?"><br>
        <button>Calculate monthly payment</button>
      </form>
    </p>
  </body>
</html>
