<!DOCTYPE html>
<html>
  <body>
    <h1>Random Results</h1>
    <p>Minimum<br>
      <%= @min%></p>
    <p>Maximum<br>
      <%= @max %></p>
    <p>Random Number<br>
      <%= @random %></p>
      </p>
    <p><a href="/random/new">Pick another random number</a><p>
  </body>
</html>
