<!DOCTYPE html>
<html>
  <body>
    <h1>Square Root Results</h1>
    <p>Number<br>
      <%= @input%></p>
      <p>Square Root<br>
      <%= @root %>
    </p>
    <p><a href="/square_root/new">Calculate another square root</a><p>
  </body>
</html>
