<!DOCTYPE html>
<html>
  <body>
    <form action="/square_root/results">
      <label for="number">Enter a number</label><br>
      <input type="text" id="number" name="number" placeholder="What number do you want to pick"><br>
      <button>Calculate square root</button>
    </form>
  </body>
</html>
