<!DOCTYPE html>
<html>
  <body>
    <h1>Square Results</h1>
    <p>Number<br>
      <%= @input%></p>
      <p>Square<br>
      <%= @input.to_f**2 %>
    </p>
    <p><a href="/square/new">Calculate another square</a><p>
  </body>
</html>
